@model RailwayReservationSystem.Models.Train_Details



<!DOCTYPE html>
<html>
<head>
    <meta name="TrainList" content="width=device-width, initial-scale=1">
    <style>
        .submit {
            -webkit-appearance: none;
            width: auto;
            min-width: 100px;
            text-align: center;
            padding: 15px 40px;
            margin-top: 5px;
            background-color: transparent;
            color: red;
            font-size: 14px;
            margin-left: auto;
            font-weight: 500;
            border: 1px solid red;
            transition: all .3s ease;
            outline: 0;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background: linear-gradient(to left, #7787f1, #473ce9);
        }

        li {
            float: left;
        }

            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                li a:hover:not(.active) {
                    background-color: #fff;
                    color: #473ce9;
                    border: 0.5px solid #473ce9;
                }

        .active {
            background-color: blue;
            color: #fff;
            width: 60px;
        }

        h1 {
            text-align: center;
            color: blue;
            border-radius: 6px;
            padding: 10px 25px;
        }

        .title {
            justify-content: center;
            display: flex;
            align-self: center;
        }


        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        th {
            background-color: #473ce9;
            color: white;
        }

        button {
            -webkit-appearance: none;
            width: auto;
            min-width: 100px;
            text-align: center;
            padding: 15px 40px;
            margin-top: 5px;
            background-color: transparent;
            color: red;
            font-size: 14px;
            margin-left: auto;
            font-weight: 500;
            border: 1px solid red;
            transition: all .3s ease;
            outline: 0;
        }

        .confirm {
            background-color: rgb(209, 64, 64);
        }
    </style>
</head>
<body>

    <div>
        @*<ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#news">About</a></li>

                <li style="float:right"><a class="active" href="#about">Log Out</a></li>
            </ul>*@


        <h2 style="text-align: center; color: rgb(16, 16, 110);">Train Details</h2>
        <table style="width: 100%;">
            <thead>
                <tr class="w3-red">
                    <th>@Html.DisplayNameFor(model => model.Source)</th>
                    <th>@Html.DisplayNameFor(model => model.Destination)</th>
                    <th> @Html.DisplayNameFor(model => model.Start_Date)</th>
                    <th> @Html.DisplayNameFor(model => model.End_Date)</th>
                    <th> @Html.DisplayNameFor(model => model.Start_Time)</th>
                    <th> @Html.DisplayNameFor(model => model.End_Time)</th>
                    <th> @Html.DisplayNameFor(model => model.Train_Type)</th>
                    <th> @Html.DisplayNameFor(model => model.Train_Name)</th>
                    <th class="confirm">Details</th>
                </tr>
                <tr>
                    <td>@Html.DisplayFor(model => model.Source)</td>
                    <td>@Html.DisplayFor(model => model.Destination)</td>
                    <td>@Html.DisplayFor(model => model.Start_Date)</td>
                    <td>@Html.DisplayFor(model => model.End_Date)</td>
                    <td>@Html.DisplayFor(model => model.Start_Time)</td>
                    <td> @Html.DisplayFor(model => model.End_Time)</td>
                    <td> @Html.DisplayFor(model => model.Train_Type)</td>
                    <td> @Html.DisplayNameFor(model => model.Train_Name)</td>
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { id = Model.Train_No }) |*@
                        @Html.ActionLink("Back to List", "Index")
                    </td>
                </tr>

        </table>

    </div>
</body>
</html>


@*@{
        ViewBag.Title = "Details";
    }

    <h2>Details</h2>

    <div>
        <h4>Train_Details</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Source)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Source)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Destination)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Destination)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Start_Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Start_Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.End_Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.End_Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Start_Time)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Start_Time)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.End_Time)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.End_Time)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Train_Type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Train_Type)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Train_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Train_Name)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Train_No }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
