@*@model RailwayReservationSystem.Models.Membership

    @{
        ViewBag.Title = "Login";
    }

    <h2>Login</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Membership</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Login" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("New User? Register", "SignUp")
    </div>*@


@*@{
        ViewBag.Title = "Login";
    }

    <h2>Login</h2>*@

@*@model RailwayReservationSystem.Models.Membership*@

@*@{
        ViewBag.Title = "Login";
    }*@

@*<h2>Login</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Membership</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserId, " ", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, " ", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Login" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("New User? Register", "SignUp")
    </div>*@


@model RailwayReservationSystem.Models.Membership
<!DOCTYPE html>
<html>

<head>
    <title>W3.CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
    <style>
        body {
            font-family: 'Raleway', sans-serif;
            background-color: #fffF;
        }

        .wrapper {
            width: 100%;
            height: 450px;
            margin-left:-15px;
            /*position: relative;*/
/*            box-shadow: 2px 5px 7px 0px #9D9D9D;*/
            overflow: hidden;
        }

        .login-body {
            width: 100%;
            height: 450px;
            background: linear-gradient(to left, #dddfec, #473ce9);
            position: absolute;
            top: -300px;
            box-sizing: border-box;
            padding: 6%;
            transition: all 0.5s ease-in-out;
            z-index: 11;
        }

        .text {
            margin-left: 20px;
            color: #fff;
            display: none;
            transition: all 0.5s ease-in-out;
            transition-delay: 0.3s;
        }

        a, a:visited {
            font-size: 36px;
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            display: block;
        }

        hr {
            width: 10%;
            float: left;
            background-color: #fff;
            font-size: 16px;
        }

        input {
            margin-top: 30px;
            height: 40px;
            width: 300px;
            border-radius: 2px;
            border: none;
            background-color: #fff;
            opacity: 0.6;
            outline: none;
            color: #000;
            padding-left: 10px;
        }

            input[type=text] {
                margin-top: 60px;
            }

        button {
            margin-top: 60px;
            height: 40px;
            width: 140px;
            outline: none;
        }

        .login-btn {
            background: #fff;
            border: none;
            border-radius: 2px;
            color: #696a86;
            height: 40px;
            width: 180px;
            font-weight: bolder;
            margin-top: 80px;
            cursor: pointer;
            outline: none;
        }

        .signup-btn {
            background: transparent;
            border: 2px solid #fff;
            width: 200px;
            border-radius: 2px;
            color: #fff;
            margin-left: 30px;
            height: 38px;
            display: flex;
            text-align: center;
            font-size: 12px;
            align-self: center;
            justify-content: center;
            font-weight: 400;
            margin-top: 76px;
        }

        .cta {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: #fff;
            border: 2px solid rgb(76, 76, 231);
            position: absolute;
            bottom: -30px;
            left: 590px;
            color: blue;
            outline: none;
            cursor: pointer;
            z-index: 11;
        }

        .title-body {
            background-color: #fff;
            width: 100%;
            height: 450px;
            position: absolute;
            bottom: 0;
            padding: 10%;
            box-sizing: border-box;
            text-align: center;
        }

        h1 {
            font-size: 42px;
            margin-top: -10px;
            color: #333;
            background-color: #fff;
            opacity: 0.6;
            width: 80%;
            margin-left: 110px;
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(91, 9, 223, 0.2), 0 6px 20px 0 rgbrgba(8, 68, 233, 0.2)
        }

        span {
            color: rgb(6, 10, 240);
            font-weight: bolder;
        }

        button {
            height: 40px;
            width: 180px;
            border: none;
            border-radius: 20px;
            background: linear-gradient(to left, #7787f1, #473ce9);
            color: #fff;
            font-weight: bolder;
            margin-top: 80px;
            cursor: pointer;
            outline: none;
        }


        .show-hide {
            display: block;
        }

        .expand {
            transform: translateY(300px);
        }

        .log-in-button {
            margin-left: -60px;
        }

 

        .sign-up-body {
            margin-left: -27px;
        }

        .mySlides {
            display: none;
        }

        .bg1 {
            background-image: url('/images/Train1.jpeg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .bg2 {
            background-image: url('/images/Train2.jpeg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .bg3 {
            background-image: url('/images/Train3.jpeg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .buttons{
            display:flex;
        }
        </style>

</head>
<body>
    <div class="wrapper">
        <div class="login-body">
            <button class="cta">Log In</button>
            <div class="text">
                <a href="">Login</a>
                <hr>
                <br>
                @*{@Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })}*@
                <!--<input type="text" placeholder="Username">
                <br>-->
                @*@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })*@
                <!--<input type="password" placeholder="Password">
                <br>-->
                @*<input type="submit" value="Login" class="btn btn-default" />*@
                <!--<button class="login-btn">Log In</button>-->
                @*@Html.ActionLink("New User? Register", "SignUp")*@
                <!--<button class="signup-btn">Sign Up</button>-->
 
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div>


                        <div class="form-group">
                            @*@Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                <div class="input-login">@Html.EditorFor(model => model.UserId, new { htmlAttributes = new { placeholder = "Enter Username", style = "margin-top: 30px; height: 52px; width: 320px;  border - radius: 5px;  border: none; background - color: #fff; opacity: 0.6; outline: none;   color: #000; padding - left: 10px;     border: 0px; " } })</div>
                                @Html.ValidationMessageFor(model => model.UserId, " ", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @* @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { placeholder = "Enter Your Password", style = "margin-top: 30px; height: 52px; width: 320px;  border - radius: 5px;  border: none; background - color: #fff; opacity: 0.6; outline: none;   color: #000; padding - left: 10px;     border: 0px; " } })
                                @Html.ValidationMessageFor(model => model.Password, " ", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="buttons">
                                <input type="submit" value="Login" class="login-btn" />
                                <div class="signup-btn">
                                    @Html.ActionLink("Sign Up", "SignUp", null, new { @style = "font-size : 14px; display: flex; justify-content : center; align-self: center;" })
                                </div>
                            </div>
                        </div>
                    </div>
                    @Html.ValidationSummary(true, " ", new { @class = "text-danger" })
                }



            </div>


        </div>



        <div>

            <div class="title-body bg1 mySlides">
                <h1>Welcome To <span>Cognizant</span> Railways</h1>
                <button class="sign-up-body">Sign Up & Register</button>
            </div>
            <div class="title-body bg2 mySlides">
                <h1>Welcome To <span>Cognizant</span> Railways</h1>
                <button class="sign-up-body">Sign Up & Register</button>
            </div>
            <div class="title-body bg3 mySlides">
                <h1>Welcome To <span>Cognizant</span> Railways</h1>
                <button class="sign-up-body">Sign Up & Register</button>
            </div>
        </div>

    </div>

    <script>
        var cta = document.querySelector(".cta");
        var check = 0;

        cta.addEventListener('click', function (e) {
            var text = e.target.nextElementSibling;
            var loginText = e.target.parentElement;
            text.classList.toggle('show-hide');
            loginText.classList.toggle('expand');
            if (check == 0) {
                cta.innerHTML = "<p>Log In</p>";
                check++;
            }
            else {
                cta.innerHTML = "<p>Log In</p>";
                check = 0;
            }
        })

        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 4000); // Change image every 2 seconds
        }
    </script>
</body>
</html>


